.vscode/settings.json
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
src/test/java/com/resources/II_locators.json
target/test-classes/com/resources/II_locators.json
src/test/java/com/resources/III_advancedLocators.json
target/test-classes/com/resources/III_advancedLocators.json
src/test/java/com/resources/IV_WebElements.json
target/test-classes/com/resources/IV_WebElements.json
src/test/java/com/resources/V_FunctionalTesting.json
target/test-classes/com/resources/V_FunctionalTesting.json
src/test/java/com/resources/VI_Synchronization.json
target/test-classes/com/resources/VI_Synchronization.json
src/test/java/com/resources/VII_AutomateAjax.json
target/test-classes/com/resources/VII_AutomateAjax.json
src/test/java/com/resources/VIII_RealTimeExercises.json
target/test-classes/com/resources/VIII_RealTimeExercises.json
src/test/java/com/resources/IX_PracticalProblems.json
target/test-classes/com/resources/IX_PracticalProblems.json
src/test/java/com/resources/X_MiscellaneousTopics.json
target/test-classes/com/resources/X_MiscellaneousTopics.json
src/test/java/screenshot/Screenshot.png
target/test-classes/screenshot/Screenshot.png
src/test/java/com/resources/XI_JavaStream.json
target/test-classes/com/resources/XI_JavaStream.json
